.evaluationAccordion .accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #00798C;
    /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
}

.evaluationAccordion .accordion-button:is(.collapsed) {
    color: #ffffff;
    background-color: #101825;
    /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */

}

.evaluationAccordion .accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(100%)
}

.evaluationAccordion .accordion-button:is(.collapsed)::after{
    filter: brightness(0%) invert(50%)
}

.evaluationAccordion .accordion-button:focus {
    box-shadow:inherit;
}

.evaluationAccordion .accordion-body{
    background-color:#101825;
}

.evaluationAccordion .accordion-item{
    margin-bottom:20px;
    margin-top:20px;
}