.Login{
   
    background-color:#101825;
    height:100vh;
}

.Login-header{
    width: 100%;
    margin-top:80px;
    padding-top:5px;
    font-family: "Avenir LT Std Book", sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.5;
    font-size: calc(4.2vmin + 0.5vmax);
    text-align: center;
    color: rgba(255, 255, 255, 0.755);
    margin-bottom:1px;
    padding-top:50px;
    
}

.Login-subheader{
    width: 100%;
    font-family: "Avenir LT Std Book", sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.5;
    font-size: calc(2vmin + 0.01vmax);
    color:slategray;
   
}

#loginForm{
    padding-top:120px;
}

#loginGithubUsername{
    margin-left:auto;
    margin-right:auto;
    width:75%;
    height:47px;
    color:white;
    background-color: #101825;
    border-color: #101825;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.15);
}

#githubusernameForm{
    margin-top:calc(2vmin + 0.01vmax);
}

#login-form-modal{
    width:calc(34.2vmin + 15vmax);
    margin-left:auto;
    margin-right:auto;
    padding-bottom:50px;
    background-color: hsl(215, 40%, 18%);
    border-color: hsl(215, 40%, 18%);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

label{
    color:slategray;
    text-align:left;
    width: 75%;
    font-size:small;
}

#loginPassword, #loginCourse{
    margin-left:auto;
    margin-right:auto;
    width:75%;
    height:47px;
    color:white;
    background-color: #101825;
    border-color:#101825;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.15);
}


#passwordForm, #courseForm{
    margin-top:3%;
}

#loginButton{
    width: 50%;
    height: calc(2vmin + 2vmax);
    font-family: "Avenir LT Std Book", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: calc(2vmin + 0.01vmax);
    margin-top: 10%;
    background: #028FA3;
    border: 1px solid #028FA3;
    box-sizing: border-box;
    border-radius: 50px;
    color:hsl(215, 40%, 18%);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.15);
}

.form-group{
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

.option{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    line-height: 42px;
    margin-top: 10px;
    text-align: center;
}

#option-id{
    font-family: "Avenir LT Std Book", sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.05em;
    font-size: calc(2vmin + 0.1vmax);
    line-height: 1.5;
    color:slategray;
    padding-top:20px;
}

#create-account-link-id{
    color:#028FA3;
    font-weight:500;
}


     