.teamMembersPage{
    background-color:#101825;
    height:100vh;
}

.teamMembers-header{
    padding-top:130px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-align: center;
    background-color: #101825;
}

#column{
    width:fit-content;
}

.teamMembers-card1,.teamMembers-card2, .teamMembers-card3, .teamMembers-card4,
.teamMembers-card5,.teamMembers-card6,.teamMembers-card7,.teamMembers-card8,
.teamMembers-card9,.teamMembers-card10{
    margin-bottom:50px;
    width: 12vmax;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    /* background-color: #014161; */

}

#card-icon1,#card-icon2,#card-icon3,#card-icon4,
#card-icon5,#card-icon6,#card-icon7,#card-icon8,
#card-icon9,#card-icon10 {
    margin-top:5px;
}

.card-title1, .card-title2, .card-title3, .card-title4,
.card-title5, .card-title6, .card-title7, .card-title8,
.card-title9, .card-title10{
    margin-top:5px;
    font-family: "Avenir LT Std Book", sans-serif;
    font-style: normal;
    font-weight: 700; 
    color:white;
    letter-spacing: .1em;
    font-size:calc(2.3vmin + 0.01vmax);
}

.card-text1, .card-text2, .card-text3, .card-text4,
.card-text5, .card-text6, .card-text7, .card-text8,
.card-text9, .card-text10{
    margin-top:5px;
    font-family: "Avenir LT Std Book", sans-serif;
    font-style: normal;
    font-weight: 500; 
    color:white;
    letter-spacing: .1em;
    font-size:calc(1.6vmin + 0.01vmax);
}

.card-subtext1, .card-subtext2, .card-subtext3, .card-subtext4,
.card-subtext5, .card-subtext6, .card-subtext7, .card-subtext8,
.card-subtext9, .card-subtext10 {
    padding-top: 30px;
    color:white;
    font-family: "Avenir LT Std Book", sans-serif;
    font-style: normal;
    font-weight: 300; 
    letter-spacing: .1em;
    font-size:calc(1.4vmin + 0.01vmax);
}

.card-button1,.card-button2,.card-button3,.card-button4,
.card-button5,.card-button6,.card-button7,.card-button8,
.card-button9,.card-button10{
    background-color:white;
    border-color:white;
    font-weight:400;
    font-size:14px;
    border-radius:50px;

}

/* Colors for the cards */

/* Card 1 and 9 */
.teamMembers-card1, .teamMembers-card9{
    background-color: #014161;
}

.card-button1, .card-button9{
    color:#014161;
}

/* Card 2 */

.card-title2, .card-text2, .card-subtext2{
    color:#101825;
}

.card-button2{
    background-color:#028FA3;
}

/* Card 3 */

.card-title3, .card-text3, .card-subtext3{
    color:#101825;
}

.card-button3{
    background-color:#A53860;
}

/* Card 4 */
.teamMembers-card4{
    background-color: #EDAE49;
}

.card-button4{
    color:#EDAE49;
}

/* Card 5 */
.teamMembers-card5{
    background-color: #028FA3;
}

.card-button5{
    color:#028FA3;
}

/* Card 6 */

.card-title6, .card-text6, .card-subtext6{
    color:#101825;
}

.card-button6{
    background-color:#014161;
}

/* Card 7 */

.card-title7, .card-text7, .card-subtext7{
    color:#101825;
}

.card-button7{
    background-color:#EDAE49;
}

/* Card 8 */
.teamMembers-card8{
    background-color: #A53860;
}

.card-button8{
    color:#A53860;
}

/* Card 10 */

.card-title10, .card-text10, .card-subtext10{
    color:#101825;
}

.card-button10{
    background-color:#028FA3;
}


